.selectable {
    background-color: rgba(120, 120, 120, 0.2);
}

.nav {
   width: 100%;
}

.clickable {
    cursor: pointer;
}

.clickable:hover{
    transition: 0.3s;
    color: blue;
    size: 110%;
}