.selectable {
  background-color: rgba(120, 120, 120, 0.2);
}

.nav {
  width: 100%;
}

.clickable {
  cursor: pointer;
  color: black;
}

.clickable:hover {
  transition: 0.3s;
  color: blue;
  scale: 103%;
}

.role-tag {
  padding: 0.2rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.role-tag.ROLE_ADMIN {
  background-color: var(--bulma-danger);
}

.role-tag.ROLE_USER {
  background-color: var(--bulma-info);
}
